.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 가져온 스타일 */
.css-10qbdmk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 1020px;
}
/* 헤더_상단 */
.css-crgeb6 {
  background: rgb(14, 14, 14);
  width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 99;
}
.css-1ago99h {
  width: 100%;
}
.css-h4ylub .text_wrap {
  display: flex;
}
.css-1e2pywg {
  cursor: pointer;
  width: 100vw;
  min-width: 1020px;
  height: 44px;
  z-index: 2;
  background: rgb(236, 38, 38);
  padding-top: 8px;
  color: rgb(14, 14, 14);
  font-size: 18px;
  font-weight: 600;
}
/* 헤더_중단 */
.css-j1yknm {
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid rgb(30, 30, 30);
}
.css-jhvj32 {
  width: 1020px;
  height: 85px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.css-jhvj32 .logo {
  width: 156px;
  cursor: pointer;
}
.css-1gf2x3a {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-ov1ktg {
  display: flex;
}
.css-kenvdg {
  margin-right: 32px;
  margin-top: 8px
  ;
  display: flex;
  text-align: center;
  width: 211px;
  height: 30px;
  border-radius: 35px;
  background-color: rgb(30, 30, 30);
}
.css-1e2pywg .close_btn {
  z-index: 3;
}
/* 헤더_중단_초, 중, 고급 div */
.css-kenvdg div {
  width: 33.3%;
  height: 30px;
  border-radius: 35px;
  font-size: 14px;
  font-weight: 300;
  padding-top: 4px;
}
/* 초급 */
.css-kenvdg .easy {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-top: 4px;
  border-radius: 35px;
  background-color: rgb(236, 200, 38);
}
.css-1h5x3dy {
  cursor: pointer;
}
/* 중급 */
.css-kenvdg .intermediate {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-top: 4px;
  border-radius: 35px;
  background-color: rgb(236, 97, 38);
}
/* 고급 */
.css-kenvdg .advanced {
  font-size: 14px;
  font-weight: 500;
  color: black;
  padding-top: 4px;
  border-radius: 35px;
  background-color: rgb(236, 38, 38);
}
/* 헤더_하단 */
.css-d2epat {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-width: 1020px;
  z-index: -1;
}
.css-ocv3tk {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgb(30, 30, 30);
}
.css-v4mbwx {
  width: 1020px;
}
/* nav바 */
.css-18sjzx1 {
  width: 1020px;
  height: 52px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  z-index: 99;
}
/* nav_ul */
.css-h57cwe {
  display: flex;
  padding: 0px;
}
/* nav_li - 클릭 후*/
.css-bibrta {
  position: relative;
  height: 24px;
  margin-right: 55px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgb(236, 38, 38);
  cursor: pointer;
}
/* nav_li - 클릭 전 */
.css-16mln42 {
  position: relative;
  height: 24px;
  margin-right: 55px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: rgb(252, 252, 252);
  cursor: pointer;
}
.css-12hft1s {
  font-size: 14px;
  cursor: pointer;
  display: flex;
}
/* Link태그 밑줄 제거 */
.link-no-underline {
  text-decoration: none;
  color: inherit;
}
a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit;
}
/* 메인 */
.css-ov1ktg {
  display: flex;
}
/* 메인_ 좌측 */
.css-boa882 {
  position: sticky;
  height: 100%;
  top: 0px;
}
/* 메인_ 중앙 (콘텐츠 들어갈 부분)*/
.css-1v1xjc8 {
  width: 1020px;
}
.css-10000pf {
  background: rgb(14, 14, 14);
  position: relative;
}
.css-1hkbw9e {
  min-height: 810px;
  z-index: 3;
  position: relative;
}
.css-17ratg8 {
  height: 100px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: rgb(14, 14, 14);
  position: sticky;
  top: 169px;
  z-index: 98;
  margin-bottom: 50px;
}
.css-7t04d {
  display: inline-block;
  width: 100%;
  position: sticky;
  top: 289px;
  margin-left: 864px;
  z-index: 10;
}
.css-xayx94 {
  padding-left: 1px;
}
/* 전략 이름 입력 */
.css-ggj8yl {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
}
.css-bmd2y5 input {
  width: 700px;
  height: 36px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: rgb(252, 252, 252);
}
/* 전략 저장 버튼 */
.css-1mvfl8k {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  font-weight: 500;
  position: relative;
  background-color: rgb(14, 14, 14);
  width: 82px;
  height: 42px;
  border: 1px solid rgb(62, 62, 62);
  cursor: default;
}
.css-reou0t {
  text-align: center;
  font-size: 16px;
  color: rgb(62, 62, 62);
  font-weight: 300;
}
/* 하단으로 이동 버튼 */
.css-12i4wy {
  cursor: pointer;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  font-weight: 500;
  position: relative;
  background-color: rgb(236, 97, 38);
  width: 178px;
  height: 42px;
}
.css-72wevi {
  text-align: center;
  font-size: 16px;
  color: rgb(14, 14, 14);
  font-weight: 400;
}

.css-bmd2y5 {
  border-bottom: 2px solid rgb(252, 252, 252);
}
.css-10p2e9r {
  position: relative;
}
.css-10p2e9r {
  position: relative;
}
/* 버튼 값 초기화 */
.css-7t04d .button_wrap {
  position: relative;
}
.css-7t04d .button {
  width: 155px;
  height: 42px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 6px;
  color: rgb(207, 207, 207);
  font-size: 14px;
  background-color: rgb(14, 14, 14);
  cursor: pointer;
}
.css-7t04d .button .icon {
  margin: 0px 8px 5px 0px;
}
/* 메인_중간 컨텐츠 부분 */
.css-rzre68 {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -52px;
  margin-bottom: 110px;
}
.css-rzre68 .alloc_title {
  margin: 0px 0px 28px;
}
.css-14zzzkc {
  font-size: 18px;
  font-weight: 500;
  margin: 80px 0px 10px;
  margin-top: 80px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
/* 자산 배분 설정 부분 */
.css-n07pe0 {
  display: inline-block;
  position: relative;
  width: 640px;
}
.css-1gtil7u {
  margin-top: 48px;
  width: 856px;
  border-radius: 12px;
  padding: 18px 27.5px 18px 28px;
  background-color: rgb(30, 30, 30);
}
.css-1kjuv0i {
  margin-top: 48px;
  width: 856px;
  border-radius: 12px;
  padding: 18px 27.5px 38px 28px;
  background-color: rgb(30, 30, 30);
}
.css-1yqaytz {
  margin-bottom: 18px;
  color: rgb(252, 252, 252);
  font-size: 16px;
  font-weight: 300;
  margin-top: 38px;
}
.css-y4fv1w {
  border: none;
  padding: 0px;
  display: flex;
  gap: 82px;
  margin-top: 18px;
}
.css-1lytgsp {
  display: flex;
  margin-top: 18px;
  margin-bottom: -17px;
}
.css-1qorevd {
  font-size: 18px;
  font-weight: 500;
  margin: 80px 0px 10px;
}
.css-mjhumy {
  width: 640px;
  display: flex;
}
.css-1a5xcom {
  position: relative;
  width: 100%;
  height: 54px;
  margin-top: 110px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-ppidyn {
  position: relative;
  cursor: pointer;
}
.css-xu7bpf {
  margin-bottom: 18px;
  color: rgb(252, 252, 252);
  margin-top: 0px;
  font-size: 16px;
  font-weight: 300;
}
.css-cy3vpx {
  width: 640px;
  position: relative;
}
/* 초기 금액 투자부분 */
.css-q4pyu0 {
  width: 640px;
  height: 46px;
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  color: rgb(230, 230, 230);
  cursor: text;
  font-weight: 300;
}
.css-1226vig {
  color: rgb(230, 230, 230);
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  right: 28px;
}
.css-1jxlxru {
  width: 640px;
  height: 46px;
  background: rgb(14, 14, 14);
  border: 1px solid rgb(159, 159, 159);
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  color: rgb(252, 252, 252);
  text-shadow: none;
}
.css-egzwes {
  margin-right: 28px;
}
.css-ppidyn div {
  position: absolute;
  bottom: -1px;
  right: 0px;
  height: 46px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.css-1evlre2 {
  margin-right: 28px;
  transform: scaleY(-1);
}
/* 자산배분 알고리즘 부분 활성화 됐을 때 */
.css-1g43kch {
  display: inline-block;
  position: absolute;
  margin-top: 9px;
  z-index: 2;
  background: rgb(14, 14, 14);
  border-radius: 6px;
  border: 1px solid rgb(62, 62, 62);
  max-height: 500px;
  overflow: hidden auto;
  width: 100%;
}
.css-1uubgwg {
  width: 640px;
  border-radius: 6px;
  text-align: center;
  color: rgb(230, 230, 230);
  cursor: pointer;
  height: 36px;
  margin: 0px auto;
  border: none;
  font-size: 16px;
  font-weight: 300;
  background: transparent;
}
.css-1ufv36b {
  width: 640px;
  border-radius: 6px;
  text-align: center;
  color: rgb(230, 230, 230);
  cursor: pointer;
  height: 36px;
  margin: 0px auto;
  border: none;
  font-size: 16px;
  font-weight: 300;
  background: rgba(236, 97, 38, 0.3) !important;
}
.css-r80uh2 {
  margin-bottom: 18px;
  color: rgb(252, 252, 252);
  margin-top: 38px;
  font-size: 16px;
  font-weight: 300;
}
/* 메인_ 우측 */
.css-boa882 {
  position: sticky;
  height: 100%;
  top: 0px;
}
/* 푸터 */
.css-1c6t4tg {
  display: flex;
  width: 100%;
  background: rgb(0, 0, 0);
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.css-v4mbwx {
  width: 1020px;
}
.css-1yzjtqd {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.css-1yzjtqd div {
  margin-top: 50px;
}
.css-7360bc {
  position: relative;
  height: 100%;
  margin-top: 50px;
  display: flex;
  gap: 32px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.css-1yzjtqd .title {
  margin-top: 28px;
  font-size: 16px;
  font-weight: 500;
}
.css-1yzjtqd p {
  color: rgb(159, 159, 159);
}
.css-1yzjtqd .right_text {
  margin: 28px 0px 50px;
  color: rgb(110, 110, 110);
}
/* 전체 환율 반영 부분  */
.css-l1mo21 {
  color: rgb(159, 159, 159);
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.css-18ru846 {
  display: flex;
  flex-wrap: wrap;
  width: 830px;
}
.css-1j8i7mp {
  min-width: 140px;
  margin-right: 20px;
  margin-bottom: 32px;
}
.css-192m3r6 {
  height: 24px;
  display: flex;
  font-size: 16px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.css-1xsl7pa {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 1px;
}
/* 자산군 추가 부분 */
.css-2fefu9 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
.css-14slbl7 {
  font-weight: 300;
  font-size: 14px;
  color: rgb(236, 97, 38);
  z-index: 3;
  cursor: pointer;
}
.css-1gn5vo1 {
  margin-bottom: 2px;
  padding-left: 10px;
  transform: none;
}
.css-6d3iyv {
  margin-bottom: 2px;
  padding-right: 10px;
  transform: rotate(180deg);
}
/* 자산군 추가 버튼*/
.css-185r4pm {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  width: 368px;
  height: 200px;
  background-color: rgb(30, 30, 30);
  border-radius: 12px;
  border: 1px solid rgb(159, 159, 159);
}
.css-79elbk {
  position: relative;
}
.css-zay56g {
  display: flex;
  flex-flow: column wrap;
}