/* body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    color: rgb(252, 252, 252);
    overflow-x: hidden;
    background: rgb(14, 14, 14);
    cursor: default;
    margin-top: 0px;
}

* {
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Noto Sans KR,sans-serif;
} */
